/*! main.css */

/* Fonts
   ========================================================================== */

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 100;
    src: url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 300;
    src: url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 500;
    src: url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 700;
    src: url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 900;
    src: url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.ttf') format('truetype');
}


/* Global
   ========================================================================== */
body {
    background: #0F0E0E;
    font-family: "EuclidSquare";
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Fonts
   ========================================================================== */
h1 {}

h5 {
    font-size: 34px;
    font-weight: 700
}
}



/* Sections
   ========================================================================== */
.section {
    padding: 50px 100px;
}


/* Buttons
   ========================================================================== */
.btn-small {
    width: 125px;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 10px;
}


.btn-link {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-link>a {
    color: #FDFDFD;
    font-weight: 700;
}

.btn-red-filled {
    background: #F8101E;
    border-radius: 20px;
}

.btn-link-contact-us {
    margin-left: auto;
}

.btn-link-claron {
    margin-left: auto;
}



/* Header
   ========================================================================== */
.section-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #0F0E0E;
}

.section-header>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.section-header>ul>li {
    float: left;
}

.section-header .btn-link-logo {
    justify-content: flex-start;
}



/* Hero
   ========================================================================== */
.section-hero {
    margin-top: 162px;
}