@media (min-width: 767px) {

    /* Fonts
   ========================================================================== */
    h1 {
        font-size: 64px;
        font-weight: 100;
        line-height: 84px;
    }

    h2 {
        font-size: 44px;
        font-weight: 100;
        line-height: 64px;
    }

    h5 {
        font-size: 24px;
        font-weight: 400;
        margin: 30px 0;
    }

    .font-white {
        color: #FDFDFD;
    }



    /* Sections
   ========================================================================== */
    .section {
        padding: 200px;
        display: flex;
        flex-direction: column;
    }


    /* Buttons
   ========================================================================== */
    .btn-small {
        width: 125px;
        height: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 10px;
    }

    .btn-link {
        letter-spacing: 1px;
        text-transform: uppercase;
    }


    .btn-red-filled {
        background: #F8101E;
        border-radius: 20px;
    }

    .btn-primary {
        padding: 20px 50px;
        color: #FDFDFD;
        border-radius: 30px;
        margin-top: 50px;
        width: 250px;
        height: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        font-size: 14px;
        font-weight: 900;
    }


    .btn-link-contact-us {
        margin-left: auto;
    }

    .btn-link-claron {
        margin-left: auto;
    }



    /* General
   ========================================================================== */

    .section-footer>*,
    .section-case-studies>* {
        color: #0F0E0E;
    }


    /* Header
   ========================================================================== */
    .section-header {
        position: fixed;
        width: 100%;
        top: 0;
        background: #0F0E0E;
        z-index: 100;
        padding: 50px 200px;
    }

    .section-header>ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .section-header>ul>li {
        float: left;
    }

    .section-header .btn-link-logo {
        justify-content: flex-start;
    }

    .section-header .btn-link>a {
        color: #FDFDFD;
        font-weight: 700;
    }



    /* Hero
   ========================================================================== */
    .section-hero {
        margin-top: 100px;
        height: 86vh;
        justify-content: center;
    }

    /* Services
   ========================================================================== */
    .section-services {
        background: url("../imgs/section-services.jpg");
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .section-services>*:not(.section-services-overlay) {
        z-index: 1;
    }

    .section-services-overlay {
        width: 100%;
        height: 100%;
        background: #1C1B1B;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* Service Detail
   ========================================================================== */

    .section-services-detail {
        background: #FDFDFD;
        height: auto;
        flex-direction: column;
    }

    .section-services-detail-row {
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
    }

    .services-detail-container {
        color: #FDFDFD;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 55px 65px;
        background: #1C1B1B;
        border-radius: 12px;
        height: 560px;
        width: 40%;
    }

    .services-detail-title {
        font-weight: 300;
        font-size: 24px;
    }

    .services-detail-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 34px;
        margin-top: auto;
    }

    .services-detail-icon {
        height: 120px;
        margin-top: auto;
    }


    /* Process
   ========================================================================== */

    .section-process {
        height: auto;
        color: #FDFDFD;
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* background: #1C1B1B;  */
    }

    .section-process-image {
        margin-top: 100px;
        width: 600px;
        align-self: center;
    }

    /* Case Studies
   ========================================================================== */

    .section-case-studies {
        background: #FDFDFD;
        padding: 200px 200px 50px 200px;
    }

    .section-case-studies-row {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .section-case-studies-container {
        height: 650px;
    }

    .section-case-studies-row:last-of-type {
        margin-top: 350px;
    }


    .case-study {
        width: 48%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
    }

    .case-study-title {
        color: #FDFDFD;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 5% 0;
    }

    .case-study.left {
        left: 0;
    }

    .case-study-gokada {
        background: #67C198;
    }


    .case-study-claron {
        background: #FC722B;
    }

    .case-study-freespira {
        background: #09B4DC;
    }

    .case-study-nike {
        background: #AC88CF;
    }

    .case-study-claron .case-study-image {
        width: 250px;
    }

    .case-study-gokada .case-study-image {
        width: 200px;
    }

    .case-study-freespira .case-study-image {
        width: 500px;
    }

    .case-study-nike .case-study-image {
        width: 500px;
    }





    /* Select Clients
   ========================================================================== */
    .section-select-clients {
        background: #0F0E0E;
        height: auto;
        color: #FDFDFD;
    }

    .select-clients-row {
        display: flex;
        margin: 100px 0;
        align-items: center;
    }

    .select-clients-logo {
        width: 150px;
        height: auto;
        display: block;
    }

    .select-clients-logo-daimler {
        height: 30px;
        width: auto;
    }

    .select-clients-logo-container {
        width: 100%;
        display: flex;
    }

    .select-clients-logo-container:nth-child(2) {
        /* middle column icons */
        justify-content: center;
    }

    .select-clients-logo-container:nth-child(3) {
        /* right column client icons */
        justify-content: flex-end;
    }


    /* Footer
   ========================================================================== */
    .section-footer {
        background: #FDFDFD;
        height: auto;
        padding-bottom: 0;
    }

    .section-footer .btn-primary {
        margin: 50px 0;
    }

    .footer-links {
        height: 150px;
        display: flex;
        align-items: center;
        border-top: 1px solid rgba(48, 48, 48, .1);
        justify-content: space-between;
    }

    .footer-links .btn-link-logo {
        justify-content: flex-start;
    }

    .footer-links .btn-link-logo>a {
        color: #0F0E0E;
    }

    .btn-social {
        margin-left: auto;
    }

    .btn-social img {
        width: 20px;
    }

    .footer-social-media-container {
        display: flex;
        width: 75%;
    }


}