/*! main.css */

/* Fonts
   ========================================================================== */

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 100;
    src: url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 300;
    src: url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 500;
    src: url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 700;
    src: url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 900;
    src: url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.ttf') format('truetype');
}


/* Global
   ========================================================================== */
body {
    background: #0F0E0E;
    font-family: "EuclidSquare";
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Fonts
   ========================================================================== */
h1 {
    font-size: 64px;
    font-weight: 100;
    line-height: 84px;
}

h2 {
    font-size: 44px;
    font-weight: 100;
    line-height: 64px;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    margin: 30px 0;
}

.font-white {
    color: #FDFDFD;
}



/* Sections
   ========================================================================== */
.section {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
}


/* Buttons
   ========================================================================== */
.btn-small {
    width: 125px;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.btn-link {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-link>a {
    color: #FDFDFD;
    font-weight: 700;
}

.btn-red-filled {
    background: #F8101E;
    border-radius: 20px;
}

.btn-primary {
    padding: 20px 50px;
    color: #FDFDFD;
    border-radius: 30px;
    margin-top: 50px;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 14px;
    font-weight: 900;
}


.btn-link-contact-us {
    margin-left: auto;
}

.btn-link-claron {
    margin-left: auto;
}



/* Header
   ========================================================================== */
.section-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #0F0E0E;
    z-index: 100;
}

.section-header>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.section-header>ul>li {
    float: left;
}

.section-header .btn-link-logo {
    justify-content: flex-start;
}



/* Hero
   ========================================================================== */
.section-hero {
    margin-top: 100px;
    height: 86vh;
    justify-content: center;
}

/* Services
   ========================================================================== */
.section-services {
    background: url("../imgs/section-services.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.section-services>*:not(.section-services-overlay) {
    z-index: 1;
}

.section-services-overlay {
    width: 100%;
    height: 100%;
    background: #1C1B1B;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

/* Service Detail
   ========================================================================== */

.section-services-detail {
    background: #FDFDFD;
    height: auto;
    flex-direction: column;
}

.section-services-detail-row {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.services-detail-container {
    color: #FDFDFD;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 45px 25px;
    background: #1C1B1B;
    border-radius: 12px;
    height: 400px;
    width: 350px;
}

.services-detail-title {
    font-weight: 300;
    font-size: 24px;
}

.services-detail-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-top: auto;
}

.services-detail-icon {
    height: 80px;
    margin-top: auto;
}


/* Process
   ========================================================================== */

.section-process {
    height: auto;
    color: #FDFDFD;
    display: flex; 
    justify-content: center; 
    padding: 150px 100px; 
    flex-direction: column; 
    /* background: #1C1B1B;  */
}

.section-process-image {
    margin-top: 100px; 
    width: 600px;
    align-self: center; 
}

/* Case Studies
   ========================================================================== */

.section-case-studies {
    background: #FDFDFD;
}