/*! main.css */
:root {
    --width-percent: 80%;
    --width-pixel: 1220px;

    --services-width-percent: 80%;
    --services-width-pixel: 1220px;
}

[v-cloak] > * { 
    display:none;
position: relative; }

[v-cloak]::before {
    content: " ";
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url(../imgs/home/rings.svg);
    background-size: cover;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
  }

/* Fonts
   ========================================================================== */

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 100;
    src: url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Light-Web/EuclidSquare-Light-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 300;
    src: url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Regular-Web/EuclidSquare-Regular-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 500;
    src: url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Medium-Web/EuclidSquare-Medium-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 700;
    src: url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Bold-Web/EuclidSquare-Bold-WebS.ttf') format('truetype');
}

@font-face {
    font-family: 'EuclidSquare';
    font-weight: 900;
    src: url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.eot?') format('eot'), url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.woff') format('woff'), url('../fonts/EuclidSquare-Semibold-Web/EuclidSquare-Semibold-WebS.ttf') format('truetype');
}


/* Global
   ========================================================================== */
body {
    background: #0F0E0E;
    font-family: "EuclidSquare";
    margin: 0px;
    padding: 0px;
}


body, html{
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li:hover, 
a:hover {
    cursor: pointer;
}


/* Fonts
   ========================================================================== */
h1 {
    font-size: 36px;
    font-weight: 100;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    font-weight: 100;
    line-height: 34px;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0;
    line-height: 30px;
}

.font-white {
    color: #FDFDFD;
}



/* Sections
========================================================================== */
.section {
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
}



/* Buttons
========================================================================== */
.btn-small {
    width: 125px;
    height: 30px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.btn-link {
    letter-spacing: 1px;
    text-transform: uppercase;
}


.btn-red-filled {
    background: #F8101E;
    border-radius: 20px;
    color: #FDFDFD;
}

.btn-primary {
    padding: 20px 50px;
    border-radius: 30px;
    margin-top: 50px;
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 14px;
    font-weight: 900;
}

.btn-primary>a {
    color: #FDFDFD;
}


.btn-link-contact-us {
    margin-left: auto;
}

.btn-link-claron {
    margin-left: auto;
}



/* General
========================================================================== */

.section-footer>*,
.section-case-studies>* {
    color: #0F0E0E;
}

.mobile-hidden {
    display: none;
}

/* Header
========================================================================== */
.section-header-desktop-nav {
    display: none !important;
}

.zerodark-header-container{
    position: fixed;
    top: 0px;
    padding: 20px 0px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #0F0E0E;
}

.zerodark-header {
    width: var(--width-percent);
    max-width: var(--width-pixel);
    padding: 0px 4px;
}

.zerodark-header>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.zerodark-header>ul>li {
    float: left;
}

.zerodark-header .btn-link-logo {
    justify-content: flex-start;
}

.zerodark-header .btn-link>a {
    color: #FDFDFD;
    font-weight: 700;
}



/* Hero
========================================================================== */
.section-hero {
    width: var(--width-percent);
    max-width: var(--width-pixel);
    margin: auto;
    margin-top: 104px;
    height: 0px;
    opacity: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.section-hero h1{
    margin: 0px;
    padding: 0px;
    
}

.section-hero h5{
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}


.zerodark-section-services-container{
    background: url("../imgs/section-services.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zerodark-section-services-container::before{
    width: 100%;
    height: 100%;
    background: #1C1B1B;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

/* Services
========================================================================== */
.section-services {
    width: var(--width-percent);
    max-width: var(--width-pixel);
    z-index: 1;
}

/* Service Detail
========================================================================== */
.zerodark-services-detail-container{
    background: #FDFDFD;
    padding: 120px 0px;
    opacity: 0;
}


.section-services-detail {
    width: var(--services-width-percent);
    max-width: var(--services-width-pixel);
    display: flex;
    margin: auto;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,.6);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,.6);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.6);
}

.services-detail-container:first-of-type{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.services-detail-container {
    color: #ffffff;
    display: flex;
    border: #000000 1px solid;
    flex-direction: column;
    width: 25%;
    padding: 34px;
    flex-grow: 1;
    background: rgb(60,58,58);
background: -moz-linear-gradient(0deg, rgba(60,58,58,1) 0%, rgba(28,27,27,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(60,58,58,1) 0%, rgba(28,27,27,1) 100%);
background: linear-gradient(0deg, rgba(60,58,58,1) 0%, rgba(28,27,27,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c3a3a",endColorstr="#1c1b1b",GradientType=1);
}

.services-detail-container:last-of-type{
    margin-bottom: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.services-detail-title {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 2.0;
}

.services-detail-title span{
    font-weight: normal;
}

.services-detail-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 2.2;
}


.services-detail-icon {
    height: 80px;
    margin-bottom: 40px;
}


/* Process
========================================================================== */

.section-process {
    width: var(--width-percent);
    max-width: var(--width-pixel);
    margin: auto;
    color: #FDFDFD;
    display: flex;
    opacity: 0;
    padding: 180px 0px 220px;
    justify-content: center;
    flex-direction: column;
    /* background: #1C1B1B;  */
}

.section-process-image {
    margin-top: 100px;
    width: 80%;
    align-self: center;
}

/* Case Studies
========================================================================== */

.zerodark-section-case-studies-parent{
    background: #FDFDFD;
    padding-top: 100px;
    opacity: 0;
}

.section-case-studies-header {
    width: var(--width-percent);
    max-width: var(--width-pixel);
    margin: auto;
}

.section-case-studies-row {
    display: flex;
    padding: 50px 0;
    left: 0;
    width: 100%;
    flex-direction: column;
}

.section-case-studies-container {

}


.case-study {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.case-study-title {
    color: #FDFDFD;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 50px 0;
}

.case-study.left {
    left: 0;
}

.case-study-gokada {
    background: #67C198;
}


.case-study-claron {
    background: #FC722B;
}

.case-study-freespira {
    background: #09B4DC;
}

.case-study-nike {
    background: #AC88CF;
}

.case-study-claron .case-study-image {
    width: 250px;
}

.case-study-gokada .case-study-image {
    width: 200px;
}

.case-study-freespira .case-study-image,
.case-study-nike .case-study-image {
    width: 300px;
}





/* Select Clients
========================================================================== */
.section-select-clients {
    
    width: var(--width-percent);
    max-width: var(--width-pixel);
    margin: auto;
}

.section-select-clients-container{
    background: #0F0E0E;
    color: #FDFDFD;
    padding: 120px 0px; 
    opacity: 0;
}

.select-clients-row:first-of-type {
    margin-top: 50px;
}

.select-clients-row {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select-clients-logo {
    width: 150px;
    height: auto;
    display: block;
}

.select-clients-logo-daimler {
    height: 30px;
    width: auto;
}

.select-clients-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}


/* Footer
========================================================================== */

.section-footer-container{
    background: #FDFDFD;
    padding-top: 110px;
}

.section-footer {
  
    width: var(--width-percent);
    max-width: var(--width-pixel);
    margin: auto;
}

.section-footer .btn-primary {
    margin: 50px 0;
}

.section-footer ul{
    margin: 0px;
    padding: 0px;
}

.footer-links {
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid rgba(48, 48, 48, .1);
    justify-content: space-between;
}

.footer-links .btn-link-logo {
    justify-content: flex-start;
}

.footer-links .btn-link-logo>a {
    color: #0F0E0E;
}

.btn-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-social img {
    width: 20px;
}

.footer-social-media-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section-footer .large-link {
    color: #0F0E0E;
    font-weight: 500;
}