/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .section {
        padding: 100px 100px;
    }

    .section-header {
        padding: 30px 100px;
    }

    .section-footer {
        padding-bottom: 0;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section-process-image {
        width: 700px;
    }

    h1 {
        font-size: 48px;
        font-weight: 100;
        line-height: 64px;
    }

    h2 {
        font-size: 40px;
        font-weight: 100;
        line-height: 50px;
    }

    h5 {
        font-size: 24px;
    }

    .case-study {
        height: 300px;
    }

    .section-case-studies-row:last-of-type {
        margin-top: 600px;
    }

    .case-study-title {
        margin: 80px 0;
    }

    .section-case-studies-container {
        height: 1150px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* have to update the footer */
    .mobile-hidden {
        display: flex;
    }

    .btn-small {
        justify-content: center;
    }

    /* Sections
   ========================================================================== */

    .section {
        padding: 200px;
    }

    .section-header {
        padding: 30px 200px;
    }


    /* Header
   ========================================================================== */
    .section-header-desktop-nav {
        display: flex !important;
    }

    .section-header-mobile-nav {
        display: none !important;
    }


    /* Fonts
   ========================================================================== */

    h1 {
        font-size: 64px;
        font-weight: 100;
        line-height: 84px;
    }

    h2 {
        font-size: 44px;
        font-weight: 100;
        line-height: 64px;
    }

    h5 {
        font-size: 24px;
        font-weight: 400;
        margin: 30px 0;
    }

    /* Services
   ========================================================================== */

    .section-services-detail-row {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 40px 0;
    }

    .services-detail-container {
        padding: 55px 65px;
        height: 560px;
        max-width: 450px;
    }

    .services-detail-container:first-of-type {
        margin-right: 20px;
    }

    .services-detail-container:last-of-type {
        margin-left: 20px;
    }

    .services-detail-title {
        font-weight: 300;
        font-size: 24px;
    }

    .services-detail-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        margin-top: auto;
    }


    .section-case-studies-row {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        position: absolute;
        left: 0;
        width: 100%;
        flex-direction: row;
    }

    .section-case-studies-container {
        height: 500px;
        ;
    }

    .section-case-studies-row:last-of-type {
        margin-top: 350px;
    }


    .case-study {
        width: 48%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
    }

    .case-study-title {
        color: #FDFDFD;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 7.5% 0;
    }

    .case-study.left {
        left: 0;
    }

    .case-study-gokada {
        background: #67C198;
    }


    .case-study-claron {
        background: #FC722B;
    }

    .case-study-freespira {
        background: #09B4DC;
    }

    .case-study-nike {
        background: #AC88CF;
    }

    .case-study-claron .case-study-image {
        width: 250px;
    }

    .case-study-gokada .case-study-image {
        width: 200px;
    }

    .case-study-freespira .case-study-image {
        width: 500px;
    }

    .case-study-nike .case-study-image {
        width: 500px;
    }

    /* Select Clients
   ========================================================================== */
    .section-select-clients {
        background: #0F0E0E;
        height: auto;
        color: #FDFDFD;
    }

    .select-clients-row {
        display: flex;
        flex-direction: row;
    }

    .select-clients-logo {
        width: 150px;
        height: auto;
        display: block;
    }

    .select-clients-logo-daimler {
        height: 30px;
        width: auto;
    }

    .select-clients-logo-container {
        width: 100%;
        display: flex;
    }

    .select-clients-logo-container:nth-child(2) {
        /* middle column icons */
        justify-content: center;
    }

    .select-clients-logo-container:nth-child(3) {
        /* right column client icons */
        justify-content: flex-end;
    }


    /* Footer
   ========================================================================== */
    .btn-social {
        margin-left: auto;
    }

    .section-footer {
        padding-bottom: 0;
    }


}